doctype html
html(lang='en', dir='ltr')
  head
    meta(charset='utf-8')
    title
    link(href='https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Anton|Lato|Oswald|Raleway|Righteous&display=swap', rel='stylesheet')
    link(rel='stylesheet', href='fonts/style.css')
    link(rel='stylesheet', href='css/animations.css')
    link.typeStyle(rel='stylesheet', href='css/type1.css')
    link.typeStyle(rel='stylesheet', href='css/type2.css')
    link.typeStyle(rel='stylesheet', href='css/type3.css')
    link.typeStyle(rel='stylesheet', href='css/type4.css')
    script(src='js/main.js', charset='utf-8')
  body
    header
      .limiter
        h1
          span.bold
          span.bold
          span.sub
        ul
          li Sistemas de ecuaciones
          li Transformaciones 8x8
          li Newton Raphson
          li División Sintetica
          li Metodo de Descartes
          li Regla de los 4 pasos
          li Maximos y minimos
          li Metodo de Simpson
    #slide
      .limiter
        .thumb
          span
        .cont
          h1
          p
    #body-content
      .limiter
        article
          .formula-c
            .formula
              span.block x
              |                =
              span.block
                span.block.underline
                  | -b 
                  span.block +-
                  |  √
                  span.root
                    | b
                    span.exp 2
                    |  - 4ac
                span.block
                  | 2a
          .cont
            h2
            p
          button
            span.icon-calculator2
            | Ver mas
        article
          .formula-c
            .formula
              span.block x
              |                =
              span.block
                span.block.underline
                  | -b 
                  span.block +-
                  |  √
                  span.root
                    | b
                    span.exp 2
                    |  - 4ac
                span.block
                  | 2a
          .cont
            h2
            p
          button
            span.icon-calculator2
            | Ver mas
        article
          .formula-c
            .formula
              span.block x
              |                =
              span.block
                span.block.underline
                  | -b 
                  span.block +-
                  |  √
                  span.root
                    | b
                    span.exp 2
                    |  - 4ac
                span.block
                  | 2a
          .cont
            h2
            p
          button#newtonButton
            span.icon-calculator2
            | Ver mas
        article
          .formula-c
            .formula
              span.block x
              |                =
              span.block
                span.block.underline
                  | -b 
                  span.block +-
                  |  √
                  span.root
                    | b
                    span.exp 2
                    |  - 4ac
                span.block
                  | 2a
          .cont
            h2
            p
          button
            span.icon-calculator2
            | Ver mas
        article
          .formula-c
            .formula
              span.block x
              |                =
              span.block
                span.block.underline
                  | -b 
                  span.block +-
                  |  √
                  span.root
                    | b
                    span.exp 2
                    |  - 4ac
                span.block
                  | 2a
          .cont
            h2
            p
          button
            span.icon-calculator2
            | Ver mas
        article
          .formula-c
            .formula
              span.block x
              |                =
              span.block
                span.block.underline
                  | -b 
                  span.block +-
                  |  √
                  span.root
                    | b
                    span.exp 2
                    |  - 4ac
                span.block
                  | 2a
          .cont
            h2
            p
          button
            span.icon-calculator2
            | Ver mas
        article
          .formula-c
            .formula
              span.block x
              |                =
              span.block
                span.block.underline
                  | -b 
                  span.block +-
                  |  √
                  span.root
                    | b
                    span.exp 2
                    |  - 4ac
                span.block
                  | 2a
          .cont
            h2
            p
          button
            span.icon-calculator2
            | Ver mas
        article
          .formula-c
            .formula
              span.block x
              |                =
              span.block
                span.block.underline
                  | -b 
                  span.block +-
                  |  √
                  span.root
                    | b
                    span.exp 2
                    |  - 4ac
                span.block
                  | 2a
          .cont
            h2
            p
          button
            span.icon-calculator2
            | Ver mas
        article
          .formula-c
            .formula
              span.block x
              |                =
              span.block
                span.block.underline
                  | -b 
                  span.block +-
                  |  √
                  span.root
                    | b
                    span.exp 2
                    |  - 4ac
                span.block
                  | 2a
          .cont
            h2
            p
          button
            span.icon-calculator2
            | Ver mas
    footer
      .top
        .limiter
          ul
            li
              | Datos:
              ul
                li
                li
            li
              | Contacto:
              ul
                li
                li
      .bottom
        .limiter
          span @Copyright: 